.payment {
  background-color: white;
}

.payment__container {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  background-color: white;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__address p {
  /* display: flex;
  justify-content: center; */
  text-align: left;
}

.payment__priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.8;
}

.payment__priceContainer h3 {
  max-width: 170px;
}

.payment__buyButton {
  max-width: 100px;
}
